/* #reg-navbar-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 2px rgb(243, 243, 243);
  } */
  
  #reg-form-container {
    /* border: solid 1px green; */
    position: relative;
    width: 68%;
    height: 650px;
    margin: auto;
  }
  #reg-form {
    /* border: solid 1px yellow; */
    
    position: relative;
    width: 45%;
    margin: auto;
    /* height: auto; */
    height: 600px;
    margin-top: 3rem;
  }
  #reg-form-span {
    /* border: solid 1px red; */

    font-size: 12px;
    text-align: start;
    margin-bottom: -1.5rem;
  }
  #reg-form-h1 {
    /* border: solid 1px palevioletred; */
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    
    
    
    
  }
  #reg-form-p {
    /* border: solid 1px red; */

    text-align: start;
    font-size: 18px;
    width: 78%;
    font-family: sans-serif;
    margin-top: -2rem;
  }
  .reg-form-div {
    position: relative;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .reg-form-div input {
    width: 100%;
    box-sizing: border-box;
    padding-top: 1.2rem;
    padding-left: 0.5rem;
    padding-bottom: 1.2rem;
    font-size: 16px;
  }
  .reg-button-next {
    width: 100%;
    padding: 1.2rem;
    color: white;
    background-color: rgb(246, 18, 29);
    border-radius: 5px;
    border: hidden;
    font-size: 24px;
  }
  #label-email {
    position: absolute;
    left: 3%;
    top: 30%;
    color: rgb(115, 115, 115);
  }
  #label-password {
    position: absolute;
    left: 3%;
    top: 30%;
    color: rgb(115, 115, 115);
  }
  .reg-form-div input:focus + #label-password {
    font-size: 13px;
    top: 5%;
    transition: 0.07s ease-in;
  }
  .reg-form-div input:focus + #label-email {
    font-size: 13px;
    top: 5%;
    transition: 0.07s ease-in;
  }
  #label-input-after-change{
    left: 3%;
    position: absolute;
    font-size: 13px;
    top: 5%;
    transition: 0.07s ease-in;
  }
  