#banner-homebrowse {
  border: solid 4px green;
  width: 100%;
  height: 1000px;
}
#banner-movie-brow-details {
  position: absolute;
  top: 50%;
}

#image-banner-layout-brow {
  width: 100%;
  height: 48rem;
}
.data-arousal-movies-row {
  position: relative;
  overflow: visible;
  /* border: solid 1px rgb(128, 0, 0); */
  width: 100%;
  margin-top: -7%;
}
/* #top-row-movies{
  margin-top:2rem;
} */
