#subscribe-main-layout{
    
    /* border: solid 1px red; */
    width: 100%;
    height: 800px;
    margin: auto;
  
}
#subscribe-layout{
    
    /* border: solid 1px green; */
    margin: auto;
    height: 500px;
    width: 500px;
    margin-top: 7%;
}
#subscribe-form{
    color: black;
}
#plan-head-s{
    color: black;
    font-size: 30px;
}
#steps-tp {
    text-align: center;
   
  
}
#steps-tp span{
    font-size: 12px;
}
#p-subscribe-div{
    text-align: center;
}
#div-sologon-sbs{
    text-align: center;
width: 80%; 
margin: auto;
margin-top:2rem;   
}
.subs-sologon{
    /* border: solid 2px red; */
   width: 75%;
   margin-left: 10%;
    text-align: start;
    margin-top:0.5rem;
    margin-bottom:0.3rem;
    padding:0.6rem;
    font-size: 18px;
}
#subscribe-button{
    /* border: solid 1px yellow; */
    height: 60px;
    width: 70%;
    margin: auto;
    margin-top:4rem;
}
#subscribe-button button{
    border: none;
    width: 100%;
    height: 100%;
    color:white;
    font-size: 24px;
    background-color: rgb(229,9,20);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    border-radius: 5px;
}
#upper-tick-head{
    text-align: center;
   
}
#upper-tick-head img {
 height: 4rem;
 width: 4rem;
}
.subs-sologon span  img{
    height: 1.5rem;
    width: 1.5rem; 
    margin-right: 0.3rem;  
     
}
.subs-sologon{
    display: flex;
}
